<div class="container">
  <div class="title">
    Tavern Of Sparks
  </div>
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input placeholder="Email" formControlName="email" type="email">
    <input placeholder="Password" formControlName="password" type="password">
    <div class="buttonContainer">
      <input value="Login" type="submit">
      <button [routerLink]="['/register']" type="button">Sign Up</button>
    </div>
  </form>
  <div class="optionsContainer">
    <div>Forgot Password</div>
    <div>Login with Google, Apple oror Facebook</div>
  </div>
</div>
