<div class="menu">

  <h2>Explore Decks</h2>
  <button>All Decks</button>
  @if (isLoggedIn) {
    <button>My Decks</button>
  }
  @if (isLoggedIn) {
    <div class="newDeckButton" (click)="openCreationForm()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
      New deck
    </div>
    @if (isFormOpen()) {
      <div class="overlay">

        <div class="newDeckForm">
          <div class="formTitleContainer">
            <div class="formTitle">
              Create New Deck
            </div>
            <div class="tabClose">
              <svg (click)="cancelCreation()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
            </div>
          </div>
          <form [formGroup]="newDeckListForm" (ngSubmit)="onSubmit()">
            <div class="formGroup">
              <label for="name">Name:</label>
              <input type="text" formControlName="name">
            </div>
            <div class="formGroup">
              <label for="main_card_id">Main Card (optional)</label>
              <app-card-selector (cardSelected)="onCardSelected($event)"></app-card-selector>
            </div>
            <div class="formGroup">
              <label for="game_format">Format:</label>
              <!--            <input type="text" formControlName="game_format">-->
              <app-game-format-selector (formatSelected)="onGameFormatSelected($event)"></app-game-format-selector>
            </div>
            <div class="formAction">
              <button type="button" (click)="cancelCreation()">Cancel</button>
              <button type="submit" [disabled]="newDeckListForm.invalid">Create</button>
            </div>
          </form>
        </div>
      </div>
    }
  }
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Format</th>
    <th>Creator</th>
    <th>Last update</th>
  </tr>
  </thead>
  <tbody>
    @for (deck of latestDecks; track deck.id) {
      <tr [routerLink]="['/decks/' + deck.id]">
        <td>{{ deck.name }}</td>
        <td>{{ deck.game_format.name }}</td>
        <td>{{ deck.user.username }}</td>
        <td>{{ deck.last_updated | relativeTime }}</td>
      </tr>
    }
  </tbody>
</table>
