@use 'sass:color';
@import '../../../../../styles.scss';

.menu{
  border-bottom: 2px solid $main-border;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 75%;
  border-right: 2px solid $main-border;

  & tr:not(:last-child) {
    border-bottom: 1px solid $main-border;
  }
  & tr{
    & td {
      padding: 1rem;
    }
  }
  & thead{
    border-bottom: 2px solid $main-border;
    & th{
      padding: 1rem;
    }
  }
}


.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .newDeckForm {
    background-color: $dark-background;
    border: 2px solid $main-border;
    border-radius: 8px;

    & .formTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //height: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid $main-border;

      & .formTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      & .tabClose {
        height: 100%;
        aspect-ratio: 1/1;

        & svg {
          border-radius: 50%;
          height: 1.2rem;

          &:hover {
            fill: color.adjust($color-text-primary, $lightness: 25%);
            box-shadow: 0 0 1rem $color-text-primary, inset 0 0 .3rem $color-text-primary;
          }
        }
      }
    }
  }
}
