@use 'sass:color';
@import '../../../../../styles.scss';

.menu{
  //border-bottom: 2px solid $main-border;
}
.deckListsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  & .deckList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: .5rem;

    & .deckCard{
      position: relative;
      //background-color: #1a1a1a;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.6);
      cursor: pointer;
      transition: box-shadow .2s ease;

      &:hover{
        box-shadow: 0 0 .5rem 0 color.adjust($color-highlight, $lightness: 20), inset 0 0 0 .25rem color.adjust($color-highlight, $lightness: 5);
      }

      & img{
        display: block;
        position: relative;
        z-index: -1;
        width: 100%;
        height: 11.25rem;
        object-fit: cover;
        filter: brightness(.6);
      }

      & .deckInfo{
        position: absolute;
        top: 8.25rem;
        left: 8%;
        right: 8%;
        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
      }
       & .deckFormat{
         font-size: .85rem;
         color: #aaa;
       }
    }
    & .deckFooter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 .25rem;
      font-size: .8rem;
      & a{
        color: white;
        text-decoration: none;
        font-size: .75rem;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 75%;
  border-right: 2px solid $main-border;

  & tr:not(:last-child) {
    border-bottom: 1px solid $main-border;
  }
  & tr{
    & td:not(:has(> img)) {
      padding: 1rem;
    }
    & td{
      & img{
        height: 3.5rem;
      }
    }
  }
  & thead{
    border-bottom: 2px solid $main-border;
    & th{
      padding: 1rem;
    }
  }
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .newDeckForm {
    background-color: $dark-background;
    border: 2px solid $main-border;
    border-radius: 8px;

    & .formTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //height: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid $main-border;

      & .formTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      & .tabClose {
        height: 100%;
        aspect-ratio: 1/1;

        & svg {
          border-radius: 50%;
          height: 1.2rem;

          &:hover {
            fill: color.adjust($color-text-primary, $lightness: 25%);
            box-shadow: 0 0 1rem $color-text-primary, inset 0 0 .3rem $color-text-primary;
          }
        }
      }
    }
  }
}
