@import '../../../../../styles.scss';

.container {
  padding: 1.5rem 5rem;

  & .breadcrumb{
    margin-bottom: .5rem;
    & a{
      text-decoration: none;
      color: $color-accent;
      &:hover{
        text-decoration: underline;
        color: $color-highlight;
      }
    }
    & span{
      &:after{
        content: '>';
        margin: 0 .75rem;
        //display: inline-block;
      }
    }
  }

  & h2{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  & .connectionsMenu {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    & .followersBtn, .followingBtn {
      padding: 0.75rem;
      cursor: default;

      &:hover:not(.activeLink) {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .activeLink {
      border-bottom: 2px solid $main-border;
    }
  }

  .followContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    & li{
      list-style: none;
      display: inline-flex;
      gap: .5rem;
      align-items: center;
      & img{
        width: 1.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
      & a{
        text-decoration: none;
        color: $color-accent;
        &:hover{
          text-decoration: underline;
          color: $color-highlight;
        }
      }
    }
  }
}
