<div class="banner">
  <div class="user">
    <img src="" alt="">
    <span></span>
  </div>
</div>

@if (isOwnDeck) {
  <app-card-selector (cardSelected)="onCardSelected($event)"></app-card-selector>
}
<div style="display: flex; flex-flow: column; justify-content: space-between; height: 80vh;" class="container">
  <div>
    @for (group of groupedCards(); track group.type) {
      <div>
        <h3>{{ group.type }} ({{ group.count }})</h3>
        @for (card of group.cards; track card.card.card.oracle_id) {
          <div>{{ card.count }}x {{ card.card.card.name }}</div>
        }
      </div>
    }
  </div>
  <!--  <div>{{ deckList() | json }}</div>-->
  <!--  <div>{{groupedCards() | json }}</div>-->
</div>
