@use "sass:color";
@import '../../../../../styles.scss';

.banner {
  position: relative;
  height: 30vh;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  padding: 1rem;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        $dark-background 0%,
        $dark-background 25%,
        rgba(0, 0, 0, 0.1) 100%
    );
    z-index: 0;
  }


  & .backgroundBanner {
    position: absolute;
    inset: 0;
    z-index: -1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(.6) saturate(2) blur(2px);
    }
  }

  & .content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.2rem;

    & .user {
      display: flex;
      align-items: center;
      gap: .5rem;

      & .avatar {
        width: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;

        }
      }

      & span {
        font-weight: 600;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: pointer;

        font-size: 1.25rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .deckTitle {
      font-size: 2rem;
      font-weight: 700;
    }

    .info {
      display: flex;
      gap: .5rem;
      align-items: center;

      & .format {
        background-color: rgba(255, 255, 255, .15);
        padding: .2rem .6rem;
        border-radius: 4px;
        font-size: .8rem;
        font-weight: 500;
        text-transform: uppercase;
        backdrop-filter: blur(4px);
      }

      & .lastUptade, .creation {
        position: relative;
        z-index: 1;
        font-size: .75rem;
        opacity: 0.8;
      }
    }
  }
}

.deckContainer {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  color: #e4e4e4;

  & img {
    flex-shrink: 0;
    width: 17.5rem;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  }

  & .cardGroupContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    flex-grow: 1;

    & .cardGroup {
      padding: 1rem;

      & h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-text-primary;
        margin-bottom: .25rem;
        border-bottom: 2px solid $main-border;
        padding-bottom: .3rem;
      }

      & .deckCard {
        padding: .5rem .3rem;
        cursor: pointer;
        transition: background-color .15s ease;

        &:not(:last-child) {
          border-bottom: 1px solid $main-border;
        }

        &:hover {
          background-color: darken($main-border, 5%);
        }
      }
    }
  }
}

.cardDetails {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, .65);

  & .cardDetailsContainer {
    position: relative;
    z-index: 6;
    width: 40vw;
    display: flex;
    padding: 1rem;
    background-color: color.adjust($color-background, $lightness: 5);
    border-radius: 1rem;
    gap: 1rem;

    & img {
      flex-shrink: 0;
      width: 40%;
      border-radius: 1rem;
      box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
    }

    & .cardDetailsInfo {
      flex-grow: 1;

      & .cardDetailsName {
        font-size: 1.75rem;
        font-weight: 600;
        color: $color-highlight;
      }

      & .cardDetailsTypeLine {
        font-size: .8rem;
        color: color.adjust($color-text-primary, $lightness: 15);
        margin-bottom: .5rem;
      }

      & .cardDetailsOracleText {
        white-space: pre-wrap;
        padding: .75rem .5rem;
        border-radius: .5rem;
        box-shadow: inset 0 0 .25rem $main-border;
        border: 1px solid $main-border;
        background-color: rgba(150, 150, 150, .35);
        margin-bottom: .5rem;
      }

      & .cardDetailsPowerToughness {
        padding: .25rem .6rem;
        border-radius: 25% 25% 25% 25% / 75% 75% 75% 75%;
        background-color: rgba(150, 150, 150, .35);
        border: 1px solid $main-border;
        box-shadow: -.1rem .1rem .2rem black inset, .05rem -.05rem .2rem rgba(255, 255, 255, .6) inset, inset 0 0 .25rem $main-border;
        width: fit-content;
        margin-left: auto;
      }

      & .cardDetailsLoyaltyContainer {
        margin-left: auto;
        width: fit-content;

        & .cardDetailsLoyalty {
          height: 3.5rem;
          fill: black;

          & .loyaltyText {
            fill: white;
            font-size: 20rem;
          }
        }
      }

      & .tabClose {
        text-align: right;

        & svg {
          border-radius: 50%;
          height: 1.2rem;
          cursor: pointer;

          &:hover {
            fill: color.adjust($color-text-primary, $lightness: 25%);
            box-shadow: 0 0 1rem $color-text-primary, inset 0 0 .3rem $color-text-primary;
          }
        }
      }

    }
  }
}
