@import "../../../../styles.scss";

.container {
  //height: 10%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;

  background-color: $dark-background;
  padding: 0.5rem;
  border-bottom: 3px solid $main-border;
  align-items: center;

  & .title {
    font-size: 1.25rem;
    text-align: center;
  }

  & .mainMenu, .personalMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  & .log {
    display: flex;
    gap: 1rem;
    //align-items: center;
    justify-content: center;
  }

  & .logOut {
    display: flex;
    justify-content: center;

    & div {
      width: fit-content;
    }
  }

  & .log, .logOut, .personalMenu {
    & .navButton {
      & span {
        display: none;
        transition: 1s;
      }

      &:hover {
        & span {
          display: block;
        }
      }
    }
  }
}


.navButton {
  display: flex;
  flex-direction: column;
  transition: color 0.5s ease-in, border 0.3s ease-out;
  border-bottom: 1px dashed transparent;

  & svg, img {
    height: 1.75rem;
    margin-bottom: 0.2rem;
  }

  & .navIcon {
    margin: 0 auto 0.2rem;
    width: 1.75rem;
    height: 1.75rem;
    background-color: $color-text-primary;
    mask-size: cover;
    transition:  background-color 0.5s ease-out;
  }

  & span {
    user-select: none; /* Standard syntax */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -webkit-user-select: none; /* Safari */
    text-align: center;
    //display: none;
    //opacity: 0;
    margin-bottom: 0.15rem;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    color: $color-highlight;
    cursor: pointer;
    border-bottom: 1px solid $color-highlight;
    & .navIcon{
      background-color: $color-highlight;
    }
  }
}
