@import '../../../../../styles.scss';

.profileContainer {
  padding: 2.5rem 3rem;
  display: flex;
  gap: 1rem;

  & .leftCard {
    width: fit-content;
    padding: .5rem 1rem;
    background-color: $dark-background;

    border: 2px solid $main-border;

    text-align: center;

    & .avatar {
      width: 10rem;
      border-radius: 50%;
      margin-bottom: .5rem;
    }

    & .cardTitleContainer {
      display: flex;

      & h3 {
        font-size: 1.75rem;
        color: white;
      }

      & button {
        //height: 2.5rem;
        //width: 30%;
        box-shadow: none;
        padding: .5rem 1rem;
        margin: 0 auto .5rem;
      }
    }

    & .personalInfos {
      display: flex;
      margin-bottom: .5rem;

      & > div {
        margin-right: .5rem;

        &:after {
          content: '·';
          margin-left: .5rem;
        }
      }

      & .manaContainer {
        height: 1rem;
        display: flex;
        gap: 0.25rem;

        & img {
          width: 1rem;
        }
      }
    }

    & .generalInfos {
      display: flex;
      gap: .5rem;
    }
  }

  & .right-container {
    //width: 100%;
    & .decklistsContainer {
      background-color: $dark-background;
      border: 2px solid $main-border;
      padding: .5rem 1rem;

      & .decklistsTitle {
        font-size: 1.25rem;
        color: white;
        border-bottom: 1px solid $main-border;
      }

      & table {
        border-collapse: collapse;
        text-align: center;

        & tr:not(:last-child) {
          border-bottom: 1px solid $main-border;
        }
        & tbody {
          &>tr{
            &:hover{
              background-color: $color-highlight;
            }
          }
        }
        & tr {
          & td {
            padding: .5rem 1rem;
          }
        }
        & thead{
          border-bottom: 2px solid $main-border;
          & th{
            padding: .5rem 1rem;
          }
        }
      }
    }
  }
}
