// 🎨 Palette Tavern of Sparks
$color-background:     #1D0E26; // Purple Night
$color-accent:         #FFB43A; // Gold Spark
$color-highlight:      #F25C2A; // Deep Ember
$color-card:           #32243D; // Slate Card
$color-text-primary:   #FFB43A; // même que accent
$color-text-secondary: #C6B5D9; // Soft Lavender
$color-notification:   #E84343; // Pixel Red
$color-muted:          #8C7D99; // Mid Grey

// Exemple d'usage :
body {
  background-color: $color-background;
  color: $color-text-primary;
}

.card {
  background-color: $color-card;
  color: $color-text-secondary;
}

.button {
  background-color: $color-accent;
  &:hover {
    background-color: $color-highlight;
  }
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin: auto;
  & input, button{
    width: 100%;
    background-color: $color-card;
    border: 1px solid $color-text-primary;
    border-radius: 0.25rem;
    padding: 0.75rem;
    color: white;
    &:focus{
      outline: none;
      border-color: $color-highlight;
    }
  }
  & .buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    & input[type="submit"],button{
      width: 40%;
    }
  }
}
